/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* Globales */

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 1REM = 10px*/
}

body {
    font-family: "Raleway", sans-serif;
    font-size: 1.6rem;
}

h1,
h2,
h3 {
    font-family: "Playfair Display", serif;
}

h1 {
    font-size: 5rem;
    font-weight: 700;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

img {
    max-width: 100%;
}

p {
    font-size: 1.45rem;
}


.full-width {
    width: 100%;
    box-sizing: border-box;
}

.nombre-sitio {
    text-align: left;
    display: flex;
    align-content: center;
    align-items: center;
}

.nombre-sitio span {
    color: #037bc0;
}

.logo {
    max-width: 6.5rem;
    max-height: 6.5rem;
    margin-right: 1.5rem;
}

.container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

#carrito {
    display: none;
    position: absolute;
    top: 5rem;
    right: 0;
    background: #fff;
    border: 1px solid #ccc;
    padding: 1rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 60rem;
    z-index: 1000;
}

#carrito.activo {
    display: block;
}

/* Ajustes básicos */
.header {
    padding: 1rem;
    background: #f8f8f8;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.submenu {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.flex {
    display: flex;
}

.hidden {
    display: none;
}

.justify-center {
    justify-content: center;
}

.mt-10 {
    margin-top: 2.5rem;
}

.text-center {
    text-align: center;
}

.bg-blue {
    background-color: #037bc0;
}

.text-white {
    color: white;
}

.font-bold {
    font-weight: 700;
}

.uppercase {
    text-transform: uppercase;
}

.p-2 {
    padding: 2rem;
}

.text-sm {
    font-size: 1.875rem;
    line-height: 1.25rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    cursor: pointer;
}

#lista-carrito {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

#lista-carrito th,
#lista-carrito td {
    padding: .8rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#vaciar-carrito,
#comprar-carrito {
    display: inline-block;
    padding: 5px 10px;
    background: #d9534f;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
}

#comprar-carrito {
    display: none;
}

#vaciar-carrito:hover,
#comprar-carrito:hover {
    background: #c9302c;
}

.borrar-curso {
    background-color: red;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#hero {

    background-image: url(../img/hero.jpg);
    background-position: center;
    height: 400px;
    background-size: cover;
}

.contenido-hero {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 8rem;
    color: white;
}

.contenido-hero form {
    position: relative;
    margin-bottom: 0;
}

.contenido-hero form #buscador {
    height: 50px;
    margin-bottom: 0;
}

.contenido-hero form .submit-buscador {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 0;
    display: block;
    text-indent: -9999px;
    width: 5rem;
    background-image: url(../img/lupa.png);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}


/* Cursos */

.contenedor-curso {
    margin: 0 auto 0 auto;
    padding-top: 5rem;
}

.contenedor-curso h2 {
    text-align: center;
}

.grid-nuestros-cursos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 45rem;
    gap: 1.5rem;
    width: 80%;
    margin: 0 auto;
    justify-items: center;
}

.curso {
    max-width: 40rem;
    max-height: 40rem;
    margin: 2rem;
    background-color: #037bc0;
    transition: 1s;
}

.curso:hover {
    transform: scale(1.05);
    -webkit-box-shadow: 22px 22px 39px -14px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 22px 22px 39px -14px rgba(0, 0, 0, 0.75);
    box-shadow: 22px 22px 39px -14px rgba(0, 0, 0, 0.75);
}




.grid-nuestros-cursos .curso img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.texto-curso {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    text-align: center;
    color: #fff;
    padding: 2rem;
    width: 100%;
    height: 50%;
}

.texto-curso h3 {
    margin: 0;
}

.texto-curso p {
    margin: 0 0 .5rem 0;
}

.texto-curso .precio {
    font-size: 2.8rem;
    font-weight: 900;
}

.btn-curso {
    background-color: #8cbc00;
    display: block;
    color: #fff;
    padding: 1rem;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 1000;
    font-size: medium;
    text-align: center;
}

.btn-curso:hover {
    background-color: #769c02;
    cursor: pointer;
}